@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital@1&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main, footer  {
    width: 80vw;
    margin: auto;
}

main {
    height: 95vh;
    padding: 10px;
}
footer {
    height: 5vh;
}

#whole-calc, #calc-back {
    width: 80vw;
    margin: auto;
    height: 92vh;
    max-width: 570px;
    min-width: 570px;
    border-radius: 10px 10px 50px 50px;
    box-shadow: 0 0 10px 2px#4B6587;
    background-image: url('./images/motherboard.png');
    background-position: center;
    background-size: cover;
}

.head {
    margin: auto;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    height: 20%;
    background-color: #E8F0F2;
    background: linear-gradient(rgba(165, 189, 197, 90%), rgb(218, 233, 238, 90%), #E8F0F2);
    border-top: 10px solid #9cc3d0;
    border-right: 10px solid #dae9ee;
    border-left: 10px solid #dae9ee;
    display: flex;
}

#brand-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}
#brand-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    display: inline-block;
    color: #394867;
}
#brand-text h2 {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    display: inline-block;
    color: #394867;
}

#info {
    width: 30%;
}

.clickable {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.clickable img {
    width: 45%;
    height: auto;
    flex:0 0 auto;
    border-radius: 50%;
    box-shadow: inset 0 0 8px #537FE7;
}

.clickable {
    pointer-events: none;
}
.clickable:hover {
    background-image: url("./images/techno-circle.gif");
    background-size: 9rem;
    background-position: center;
    background-repeat: no-repeat;
}

.clickable .info{
    pointer-events: auto;
}

.clickable .info:hover {
    transform: scale(1.1);
    box-shadow: none;
}

#calculator-body {
    margin: auto;
    padding: 0 20px 10px;
    width: 100%;
    border-top: none;
    height: 80%;
    background-color: #E8F0F2;
    border-right: 10px solid #dae9ee;
    border-left: 10px solid #dae9ee;
    border-bottom: 10px solid #dfeaed;
    border-radius: 0 0 50px 50px;
}


@media only screen  and (width < 1300px) {
    main, header {
        width: 100vw;
    }
    #calculator-body {
        width: 100%;
    }
}

section#screen {
    border-top: 8px solid #a8aaac;
    border-right: 15px solid #c7cbce;
    border-left: 15px solid #c7cbce;
    border-bottom: 18px solid #d0d5d8;
    border-radius: 15px;
    box-shadow: inset 0 0 20px #3C6255;
    background-color: #A6BB8D;
    background-image: url("./images/lcd-scratch.png");
    background-position: center;
    background-size: cover;
    padding: 8px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-screen-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

#input-screen {
    width: max-content;
    height: 3rem;
}

#answer-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4.2rem; 
}
#answer-screen .exponent {
    height: 4.2rem; 
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    text-align: right;
    color: #394867;
}

#screen-cursor {
    height: 2rem;
    width: 5px;
    background-color: #394867;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
      }
}

#input-screen p {
    color: #394867;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
}
#answer-screen p {
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
    text-align: right;
    color: #394867;
}

#buttons-pad {
    display: flex;
    justify-content: center;
    height: 70%;
    padding: 20px 10px 5px;
    border: 3px solid #4B6587;
    border-top: none;
    border-radius: 0  0 20px 20px;
}
#number-buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.number-divider {
    display: flex;
    width: 100%;    
    height: 25%;
    margin: 5px;
}
#operators .number-divider {
    justify-content: flex-end;
}

#operators {
    width: 40%;
}

#number-buttons button, #operators button {
    text-shadow: 0 0 10px #d4bf92;
    margin: 0 5px;
    width: 28%;
    height: 100%;
    border-radius: 10px 10px 20px 20px;
    font-size: 2.5rem;
    border-top: 3px solid #d4bf92;
    border-right: 4px solid #e1d0ab;
    border-left: 4px solid #e1d0ab;
    border-bottom: 5px solid #F0E5CF;
    background: radial-gradient(circle, #F7F6F2, #f0ece1, #F7F6F2);
    box-shadow: 0 0 5px 1px#4B6587; 
}

#operators button {
    background: radial-gradient(circle, #4B6587, #576c88, #4B6587);
    color: #F7F6F2;
    text-shadow: 0 0 10px #F7F6F2;
    border-top: 3px solid #526d94;
    border-right: 4px solid #6a83a7;
    border-left: 4px solid #6a83a7;
    border-bottom: 5px solid #7e8fa7;
}

button#del, button#ac {
    color: black;
    text-shadow: 0 0 10px #FFB26B;
    font-size: 2rem;
    border-top: 3px solid #f4994f;
    border-right: 4px solid #f6a360;
    border-left: 4px solid #f6a360;
    border-bottom: 5px solid #f5af75;
    background: radial-gradient(circle, #FD841F, #f3a96d, #FD841F);  
}

#number-buttons button:hover, #operators button:hover {
    filter: brightness(90%);
}



#operators {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* overwrites earlier declaration of width */
#operators button {
    width: 40%; 
}


#number-buttons button.pressed,
#operators button.pressed,
#operators button#del.pressed,
#operators button#ac.pressed {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}

#screen-cursor.limit {
    width: 15px;
    background-color: #232d3f;
    animation: blink 2s infinite;
}





/* flip */

/* main {
    width: max-content;
} */

main .calc-container.flip {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: all 0.6s ease;
}

#whole-calc, #calc-back {
    width: max-content;
    backface-visibility: hidden;
}

#calc-back {
    position: absolute;
    top: 0;
    left: 0;
}



#calc-back {
    transform: rotateY(180deg);
}

